@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Rubik+Mono+One&display=swap');

body {
    background-color: #a6a6a6;
    margin: 0px;
}

main {
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

#cabecalho-principal,
#links-menu,
.modo-de-jogo {
    display: flex;
    align-items: center;
}

#cabecalho-principal,
#links-menu {
    justify-content: space-between;
}

#cabecalho-principal {
    background-color: black;
    height: 6vh;
}

#links-menu {
    list-style-type: none;
    margin-right: 3vh;
}

#link-configuracoes,
#link-autores {
    font-size: 4vh;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

#link-autores,
#titulo-do-jogo {
    color: white;
}

#link-autores {
    margin-right: 1.5vh;
}

#titulo-do-jogo {
    font-family: 'Rubik Mono One', monospace;
}

#titulo-do-jogo {
    margin-left: 3vh;
}

#botao-vs-computador,
#botao-dois-jogadores {
    font-size: 5vh;
}

#botao-vs-computador {
    margin-bottom: 1.5em;
}

#botao-vs-computador,
#botao-dois-jogadores {
    width: 11em;
    height: 4em;
    background-color: #d9d9d9;
    border-radius: 2vh;
    border: 0.4vh solid #00bf63;
}

.modo-de-jogo {
    flex-direction: column;
    justify-content: center;
    height: 37rem;
    gap: 1.5em;
}

main .ocultar {
    display: none;
    opacity: 0;
}