.placar div,
.placar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vh;
}

.placar {
    height: 30vh;
}

.placar div {
    background-color: #d9d9d9;
    height: 8vh;
    width: 18vh;
    font-family: 'Open Sans', sans-serif;
}

#bolinha,
#x {
    font-size: 7vh;
}

#bolinha,
.bolinha {
    color: #ff3131;
}

#x,
.x {
    color: #5e17eb;
}

#vitorias-bolinha,
#vitorias-x {
    font-size: 4.5vh;
    color: green;
}

.linha {
    display: grid;
    gap: 0.5%;
    grid-template-columns: repeat(3, 17vh);
    grid-template-rows: 17vh 17vh 17vh;
    justify-content: center;
    height: 18vh;
}

.linha div {
    background-color: #d9d9d9;
    border-radius: 1vh;
    font-size: 13vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.modal-continuar-ou-sair-do-jogo,
.modal-salvar-ou-descartar-progresso,
.modal-vs-computador,
.modal-vs-amigo,
.modal-recuperar-progresso {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e7e7e7e5;
    z-index: 3;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vh;
}

.modal-continuar-ou-sair-do-jogo {
    width: 25vh;
    height: 15vh;
}

.modal-salvar-ou-descartar-progresso {
    width: 35vh;
    height: 16vh;
}

#sair-do-jogo,
#excluir-progresso,
#nao-recuperar-progresso {
    background-color: red;
}

#reiniciar-jogo,
#salvar-progresso,
#botao-recuperar-progresso {
    background-color: #00bf63;
    font-weight: bold;
}

#sair-do-jogo,
#reiniciar-jogo,
#salvar-progresso,
#excluir-progresso,
#botao-recuperar-e-botao-nao-recuperar-progresso button {
    color: white;
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    border-radius: 50% 50%;
    font-weight: bold;
    cursor: pointer;
}

#sair-ou-reiniciar,
#excluir-ou-salvar-progresso {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    position: relative;
    bottom: 1vh;
}

.modal-vs-computador #escolher-bolinha-ou-x {
    display: flex;
    flex-direction: row;
    gap: 7vh;
    font-size: 30px;
}

.modal-vs-computador .bolinha,
.modal-vs-computador .x {
    font-size: 6.5vh;
    cursor: pointer;
}

.modal-vs-computador #jogar #jogar-vs-computador {
    position: relative;
    left: 8vh;
    top: 1.5vh;
    width: 5em;
    height: 2em;
    font-size: 2.3vh;
    cursor: pointer;
    border-radius: 1vh 1vh;
    color: black;
}

.marcar-opcao {
    background-color: rgba(209, 200, 200, 0.937);
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1vh 1vh;
}

.modal-vs-amigo {
    width: 13em;
    height: 12em;
    font-size: 3vh;
}

.modal-vs-amigo #escolher-bolinha-ou-x {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    position: relative;
    bottom: 1.5vh;
}

#texto-escolher-opcao {
    margin-left: 1vh;
}

#jogador-um,
#jogador-dois {
    display: flex;
    gap: 1.5vh;
    font-size: 7vh;
    cursor: pointer;
}

#jogar-vs-amigo {
    position: relative;
    width: 5em;
    height: 2em;
    font-size: 2.3vh;
    cursor: pointer;
    left: 4em;
    border-radius: 1vh 1vh;
}

#versus {
    font-size: 3vh;
}

@keyframes circular {
    0% {
        border: 0.3vh solid black;
    }

    25% {
        border: 0.3vh solid transparent;
    }

    50% {
        border: 0.3vh solid black;
    }

    75% {
        border: 0.3vh solid transparent;
    }

    100% {
        border: 0.3vh solid black;
    }
}

.marcar-vez {
    position: relative;
    animation: circular 0.6s 0.7s ease infinite alternate;
    animation: circular 0.6s 0.7s ease infinite alternate;
}

.jogo .placar #versus {
    font-size: 5vh;
}

.linha div {
    cursor: pointer;
}

.modal-vs-computador {
    width: 15em;
    height: 15em;
}

.modal-recuperar-progresso {
    height: 18vh;
    width: 23em;
}

#texto-recuperar {
    margin-left: 2vh;
}

#botao-recuperar-e-botao-nao-recuperar-progresso {
    display: flex;
    flex-direction: row;
    gap: 7em;
}